.contain
{
    height: 580px;
    width: 400px;
    border-radius: 3%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/Burning_Male_Child_Infected.gif");
    background: -moz-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/Burning_Male_Child_Infected.gif");
    background: -o-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/Burning_Male_Child_Infected.gif");
    background-size: 120% 100%;
    display: grid;
    align-items: center;
}

.startClick
{
    color:slateblue;
}
